# --- FILE YANG WAJIB DIABAIKAN (Demi Keamanan & Kebersihan) ---
.DS_Store
._.*
._*
.project
.idea
.vscode
sysconfig.local.inc.php
config/sysconfig.local.inc.php
sysconfig.inc.php
slims8_akasia.sublime-project
slims8_akasia.sublime-workspace

# Cache Windows (Sampah)
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# Vendor dan Config sensitif lainnya
/vendor/
composer.lock
config/database.php
config/captcha.php
config/env.php
config/csp.php
config/auth.php
tarsius

# File Environment (Boleh dibuka kalau mau share template env)
.env
.htaccess

# --- BAGIAN DI BAWAH INI SUDAH SAYA HAPUS/BUKA AKSESNYA ---
# (Folder images, files, repository, dan template sekarang AKAN di-upload)